body {
    background-color: rgb(2, 116, 91);
    font-size: 14px;
    text-align: center;
  }
  
  .titulos {
    color: rgb(192, 192, 192);
    background-color: rgb(34, 167, 136);
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    font-weight: bold;
  }

  p, a, ul {
      color: rgb(192, 192, 192);
      font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    }